.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

.nextButton {
  font-size: 20px;
  border-radius: 8px;
  padding: 12px;
}

.nextButton:hover {
  background-color: rgb(100, 95, 100);
}

.labelInput {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputButton {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.input {
  font-size: 20px;
}